<article>
  <p class="post-meta">
    <%= content_tag :link, nil, rel: :prefetch, href: @page.ipfs_content.url, as: :fetch %>
    <%= link_to "IPFS", @page.ipfs_content.url %>
    <%= link_to "edit", edit_page_path(@page) %>
    <br/>
    <%= content_tag :time, @page.updated_at, datetime: @page.updated_at %>
    <br/>
    <span><%= link_to "Sergei O. Udalov", "/" %></span>
  </p>
  <div>
    <%= raw @page.processed_content %>
  </div>

  <br>
  <br>
  <br>
</article>
