<!DOCTYPE html>
<html>
  <head>
    <title>Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body a="auto">
    <main class="page-content" aria-label="Content">
      <div class="w">
        <% flash.each do |type, msg| %>
          <div class="flash flash__<%= type %>"><%= msg %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
